<br><br>

<div class= "container">
    <h3> Mantenimiento Usuarios</h3>
    <br>
    <a class="btn btn-primary" href="nuevo-usuario" role="button">Nuevo Usuario</a>
    <div class="form-group">
      
        <br> <br>
        <table class="table">
            <thead class="thead-dark">
              <tr>
               

                <th scope="col">Id_Usuario</th>
                <th scope="col">Usuario</th>
                <th scope="col">Password</th>
                <th scope="col">ApeMat</th>
                 <th scope="col">ApePat</th>
                <th scope="col">Nombres</th>
                <th scope="col">Sexo</th>
                <th scope="col">Email</th>
                <th scope="col">Nivel</th>
                <th scope="col">Estado</th>
                <th scope="col">Doctip</th>
                <th scope="col">Docnro</th>
                <th scope="col">Fecnac</th>
                <th scope="col">Edad</th>





              </tr>
            </thead>
            <tbody  *ngIf="usuarios">
              <tr *ngFor="let usuario of usuarios">
              
                <td>{{usuario.id_Usuario}}</td>
                <td>{{usuario.usuario}}</td>
                <td>{{usuario.password}}</td>
                <td>{{usuario.apeMat}}</td>
                <td>{{usuario.apePat}}</td>
                <td>{{usuario.nombres}}</td>
                <td>{{usuario.sexo}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.nivel}}</td>
                <td>{{usuario.estado}}</td>
                <td>{{usuario.doctip}}</td>
                <td>{{usuario.docnro}}</td>
                <td>{{usuario.fecnac}}</td>
                <td>{{usuario.edad}}</td>
                
                <td><a href="modificar-usuario" class="btn btn-primary" role="button" >MODIFICAR</a></td>
                <td><a href="alerta-eliminar" class="btn btn-danger" role="button">ELIMINAR</a></td>
                
              </tr>
              <tr>
       
            </tbody>
          </table>
          
         

      
 </div>
</div>
