<div class="Content-Wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <h1><b>Listado de Categorias</b></h1>
                    </div><!-- /.col --> 
                    <div class="col-md-2">
                    <a  class="btn btn-danger btn-block" routerLink="../project">
                    <span class="fa fa-plus">
                    </span> Nuevo </a>
            </div><!-- /.col -->
        </div>
        <section class="content">
            <div class="card card-default">
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <table id="example1" class="table table-bordered table-responsive ">
                                    <thead class= "thead-dark">
                                        <tr>
                                            <th>Cod</th>
                                            <th>Descripción</th>
                                            <th>Imagen</th>
                                            <th>Orden</th>
                                            <th>Estado</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead> 
                                    <tbody *ngIf="categorias">
                                        <tr *ngFor="let categoria of categorias">
                                            <td>{{categoria.id_Categoria}}</td>
                                            <td>{{categoria.nombre}}</td>
                                            <td><img id='imageresource' src="{{categoria.imagen}}" style="max-width:100%;width:auto;height:auto;" border='0'></td>
                                            <td>{{categoria.orden}}</td>
                                            <td>{{categoria.estado}}</td>
                                              <td>
                                                <div class="btn-group">
                                                    <a href="#" id="view"
                                                    class="btn btn-sm btn-outline-danger"><i class="fa fa-search"></i></a>
                                                    <a routerLink="../cate-edit/{{categoria.id_Categoria}}"
                                                    class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></a>
                                                    <a href=""
                                                    class="btn btn-delete btn-outline-danger btn-sm"><i class="fa fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>      
                                        
                                                                   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         
</section>