
<br><br>

<div class= "container">
    <h3>   ¿Está seguro que desea eliminar el registro?</h3>
    <br><br>
    <form [formGroup]="userFormDelete">
        <div class="form-row">
            <div class="form-group col-md-1">
              <label for="nombre"># Usuario</label>
              <input type="number" class="form-control" formControlName="id_usuario" placeholder="Num" >
            </div>
        </div>
    <button (click)="onSubmit()"  class="btn btn-danger"  >Eliminar Cuenta</button>
    <br><br>
        
</form>
</div>



