<br><br>
<div class= "container">
<h3>Modificar Datos de Cliente</h3>
<br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre">Nombres</label>
              <input type="text" class="form-control" id="apellido" placeholder="Nombre Completo" disabled>
            </div>
            <div class="form-group col-md-6">
              <label for="apellido">Apellidos</label>
              <input type="text" class="form-control" id="apellido" placeholder="Apellido Paterno y Apellido Materno" disabled>
            </div>
          </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" disabled>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">DNI/RUC</label>
        <input type="number" class="form-control" id="dni" placeholder="DNI/RUC" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="celular">Celular</label>
        <input type="number" class="form-control" id="celular" placeholder="Celular">
      </div>
    </div>
<br>
    <div class="form-group">
        <h4>Dirección</h4>
        <br>
        <div class="form-row">
            <div class="form-group col-md-3">
              <label for="calle">Calle/Av./Jr./Psje.</label>
              <input type="text" class="form-control" id="calle" placeholder="Calle/Av./Jr./Psje.">
            </div>
            <div class="form-group col-md-2">
              <label for="num">N°</label>
              <input type="number" class="form-control" id="num" placeholder="N°">
            </div>
            <div class="form-group col-md-2">
              <label for="ciudad">Ciudad</label>
              <input type="text" class="form-control" id="ciudad" placeholder="Ciudad">
            </div>
            <div class="form-group col-md-3">
                <label for="distrito">Distrito</label>
                <input type="text" class="form-control" id="distrito" placeholder="Distrito">
              </div>
            <div class="form-group col-md-2">
                <label for="provincia">Provincia</label>
                <select id="provincia" class="form-control">
                <option selected>Lima</option>
                  <option>Amazonas</option>
                  <option>Ancash</option>
                  <option>Apurimac</option>
                  <option>Arequipa</option>
                  <option>Ayacucho</option>
                  <option>Cajamarca</option>
                  <option>Callao</option>
                  <option>Cusco</option>
                  <option>Huancavelica</option>
                  <option>Huanuco</option>
                  <option>Ica</option>
                  <option>Junín</option>
                  <option>La Libertad</option>
                  <option>Lambayeque</option>
                  <option>Loreto</option>
                  <option>Madre de Dios</option>
                  <option>Moquegua</option>
                  <option>Pasco</option>
                  <option>Piura</option>
                  <option>Puno</option>
                  <option>San Martin</option>
                  <option>Tacna</option>
                  <option>Tumbes</option>
                  <option>Ucayali</option>
                
                </select>
              </div>
          </div>
       
    </div>
    <div class="form-row">
   
      </div>
    <br>
    <h4>Información de Pago</h4>
    <br>
    <div class="form-group">
      <label for="tarjeta">N° de Tarjeta</label>
      <input type="text" class="form-control" id="tarjeta" placeholder="N° de Tarjeta">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cvv">N° CVV</label>
        <input type="text" class="form-control" id="cvv">
      </div>
      <div class="form-group col-md-4">
        <label for="vencimiento">Fecha de Vencimiento</label>
        <input type="text" class="form-control" id="cvv">
      </div>
     
    </div>
    
   
    <button type="submit" class="btn btn-primary">Guardar</button>
    <br><br>
  </form>
</div>