<br><br>

<div class= "container">
    <h3>Términos y condiciones</h3>
    <br>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda quod laborum, eius aliquid adipisci vel quisquam fuga dicta aliquam repellat. Vero fuga, molestiae assumenda voluptatibus laboriosam incidunt repellat voluptas.</p>
<br>

<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">ACEPTO LOS TÉRMINOS Y CONDICIONES</label>
  </div>
<br>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck2">
    <label class="custom-control-label" for="customCheck2">ACEPTO QUE ME ENVÍEN INFORMACIÓN SOBRE PROMOCIONES Y DESCUENTOS POR CORREO ELECTRÓNICO</label>
  </div>

<br>
<br>
    <a href="iniciar-sesion" class="btn btn-primary" role="button" >Enviar</a>
    |
    <a href="home" class="btn btn-danger" role="button">Cancelar</a>
    <br>
    <br>

</div>
   
        
       
       
       


