<br><br>

<div class= "container">
    <h3>   Ingresa tus datos para iniciar sesión</h3>
    <form [formGroup]="iniciarSesionForm">
        <div formGroupName="person">
            <div class="form-group">
                <label>
                    E-mail:
                    <input type="email" formControlName="email" class="form-control">
                </label>
            </div>
            <div class="form-group">
                <label>
                    Contraseña:
                    <input type="text" formControlName="password" class="form-control">
                </label>
            </div>
        </div>
        
       
       
         
        <div class="form-group">
            <a href="admin" class="btn btn-success" role="button" >Ingreso Admin</a>
            |
            <button (click)="onSubmit()" class="btn btn-primary">
                Iniciar Sesión
            </button>
            |
            <button (click)="cleanValues()" class="btn btn-danger">
                Limpiar Datos
            </button>
            |
            <a href="registrarse" class="btn btn-success" role="button" >Registrarse</a>
            <br><br>
            <p>
               {{ iniciarSesionForm.value | json}}
            </p>
            <p>
                Estado del Formulario:  {{ iniciarSesionForm.status }}
            </p>


        </div>




    </form>
   <br>
</div>