
<br><br>

<div class= "container">
    <h3>   ¿Está seguro que desea eliminar el registro?</h3>
    <br><br>
    <a href="admin/list" class="btn btn-primary" role="button">Regresar a Listado</a>
    |
    <a href="admin/list" class="btn btn-danger" role="button" >Eliminar Registro</a>
    <br><br>
</div>