    <!--product area start-->
    <div class="product_area product_style2 mb-15">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   <div class="product_header">
                       <div class="section_title">
                               <h2>Productos EN OFERTA</h2>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="row">
                        <div class="product_carousel product_style product_column4 owl-carousel" >
                            <div class="col-lg-3" *ngFor="let productoOferta of productoOfertas">
                                <app-producto [data]="productoOferta" ></app-producto>                                      
                            </div>
                        </div> 
                    </div>   
                </div>
            </div> 
              
        </div>
    </div>
    <!--product area end-->

    <!--Categories product area start-->
    <div class="categories_product_area mb-50">
        <div class="container">
           <div class="row">
               <div class="col-12">
                    <div class="section_title">
                       <h2>TOP CATEGORIAS</h2>
                    </div>
                </div>
           </div>
            <div class="row categories_margin no-gutters">
                <div class="col-lg-3 col-md-6" *ngFor="let categoria of topCategorias">
                    <app-categoria [data]="categoria"></app-categoria>
                </div>
            </div>
        </div>
    </div>
    <!--Categories product area end-->
    
    <!--product area start-->
    <div class="small_product_area small_product_style2 product_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                   <div class="small_product_list">
                        <div class="section_title">
                           <h2>Productos Destacados</h2>
                        </div>
                        <div class="row">
                            <div class="small_p_container mb-4 col-lg-4" *ngFor="let destacado of productosDestacados">
                                <app-producto-destacado [data]="destacado"></app-producto-destacado>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!--product area end-->
    
    <!--shipping area start-->
    <div class="shipping_area shipping_two mb-50 mt-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="assets/img/about/shipping1.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h4>Delivery Gratis!</h4>
                            <p>Entregas gratuitas en todos tus pedidos</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="assets/img/about/shipping2.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h4>Atención Online 24/7</h4>
                            <p>Estamos disponibles online las 24 horas del día</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="assets/img/about/shipping3.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h4>Te devolvemos tu dinero</h4>
                            <p>Te devolvemos tus compras hasta los 7 días de haberla realizado</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img src="assets/img/about/shipping4.png" alt="">
                        </div>
                        <div class="shipping_content">
                            <h4>Descuentos exclusivos</h4>
                            <p>Descuentos increíbles para todos nuestros clientes </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--shipping area end-->
    <!-- modal area start- - >
    <div *ngIf="!!currentProducto">
        <app-modal-vista-rapida [data]="currentProducto"></app-modal-vista-rapida>
    </div>
    < !-- modal area end-->