<h1><b>Nuevo Producto</b></h1>
<div class="container">
    <form [formGroup]="productForm1">
        <div class="container">

            <form [formGroup]="productForm1">
        
                <div class="container">

                    <form [formGroup]="productForm1">
                
                        <div formGroupName="product">
                
                            <div class="form-group">
                
                                <label>
                
                                    Codigo: P0030
                
                                </label>
                
                            </div>
                
                            <div class="form-group">
                
                                <label>
                
                                    Descripcion:
                
                                    <input type="text" formControlName="nombre" class="form-control">
                
                                </label>
                
                            </div>
                
                        </div>
                
                        <div class="form-group">
                
                            <label>
                
                                Precio:
                
                                <input type="text" formControlName="precio" class="form-control">
                
                            </label>
                
                        </div>
                
                        <div class="form-group">
                
                            <label>
                
                                stock:
                
                                <input type="text" formControlName="stock" class="form-control">
                
                            </label>
                
                        </div>
                        <div class="form-group">
                
                            <label>
                
                                foto:
                
                                <input type="text" formControlName="foto" class="form-control">
                
                            </label>
                
                        </div>
                
                        <div class="form-group">
                
                            
                
                        </div>
                        <div class="form-group">
                            <button (click)="updateValues()" class="btn btn-primary">Grabar</button>
                            |
                            <button (click)="cleanValues()" class="btn btn-primary">Limpiar valores</button>
                            |
                            <button (click)="onSubmit()" class="btn btn-success">Cancelar</button>
                            
                        </div>
                
                    </form>
                
                    <br><br>
                
                
                
                </div>
                
            </form>
    <br><br>

   
</div>
