  <!--breadcrumbs area start-->
  <div class="breadcrumbs_area mt-45">
    <div class="container">   
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>         
</div>
<!--breadcrumbs area end-->

 <!--shopping cart area start -->
<div class="shopping_cart_area mt-45">
    <div class="container">  
        <form action="#"> 
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                        <thead>
                            <tr>
                                <th class="product_remove">Eliminar</th>
                                <th class="product_thumb">Imagen</th>
                                <th class="product_name">Producto</th>
                                <th class="product-price">Precio</th>
                                <th class="product_quantity">Cantidad</th>
                                <th class="product_total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                <td class="product_thumb"><a href="#"><img src="assets/img/product/product1.jpg" alt=""></a></td>
                                <td class="product_name"><a href="#">Producto 001</a></td>
                                <td class="product-price">S/.65.00</td>
                                <td class="product_quantity"><label>Cantidad</label> <input min="1" max="100" value="1" type="number"></td>
                                <td class="product_total">S/.130.00</td>


                            </tr>

                            <tr>
                               <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                <td class="product_thumb"><a href="#"><img src="assets/img/product/product2.jpg" alt=""></a></td>
                                <td class="product_name"><a href="#">Producto 002</a></td>
                                <td class="product-price">S/.90.00</td>
                                <td class="product_quantity"><label>Cantidad</label> <input min="1" max="100" value="1" type="number"></td>
                                <td class="product_total">S/.180.00</td>


                            </tr>
                            <tr>
                               <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                <td class="product_thumb"><a href="#"><img src="assets/img/product/product3.jpg" alt=""></a></td>
                                <td class="product_name"><a href="#">Producto 003</a></td>
                                <td class="product-price">S/.80.00</td>
                                <td class="product_quantity"><label>Cantidad</label> <input min="1" max="100" value="1" type="number"></td>
                                <td class="product_total">S/.160.00</td>


                            </tr>

                        </tbody>
                    </table>   
                        </div>  
                        <div class="cart_submit">
                            <button type="submit">Recalcular</button>
                        </div>      
                    </div>
                 </div>
             </div>
             <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="offset-6 col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Total</h3>
                            <div class="coupon_inner">
                               <div class="cart_subtotal">
                                   <p>Subtotal</p>
                                   <p class="cart_amount">S/.215.00</p>
                               </div>
                               <!--<div class="cart_subtotal ">
                                   <p>Shipping</p>
                                   <p class="cart_amount"><span>Flat Rate:</span> S/.255.00</p>
                               </div>-->
                               <a href="#">Recalcular</a>

                               <div class="cart_subtotal">
                                   <p>Total</p>
                                   <p class="cart_amount">S/.215.00</p>
                               </div>
                               <div class="checkout_btn">
                                   <a href="{{wathsapp}}">Completar la compra</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->
        </form> 
    </div>     
</div>
 <!--shopping cart area end -->