<article class="single_product">
    <section>
        <router-outlet></router-outlet>
    </section>
    
    <figure>
       <div class="product_name">
           <h4><a routerLink="/producto">{{data.nombre}}</a></h4>
       </div>
       <div class="product_rating">
           <ul>
               <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
           </ul>
       </div>

        <div class="product_thumb">
            <a class="primary_img" routerLink="/producto"><img src="{{data.imagen}}" alt=""></a>
            <div class="label_product">
                <span class="label_sale">Oferta!</span>
            </div>
            <div class="quick_button">
                <a href="#" data-toggle="modal" data-target="#modal_box"  title="quick view"> Vista Rápida</a>
            </div>
        </div>
        <div class="product_footer">
            <div class="price_box"> 
                <span class="old_price">S/.{{data.precio}}</span> 
                <span class="current_price">S/.{{data.precioOferta}}</span>
            </div>
            <div class="action_links">
                 <ul>
                    <!--<li class="add_to_cart"><a href="cart.html" title="Add to cart">Comprar</a></li>-->
                    <!--<li class="wishlist"><a href="wishlist.html"  title="Add to Wishlist"><i class="ion-android-favorite-outline"></i></a></li>-->
                    <!--<li class="compare"><a href="#" title="Add to Compare"><i class="ion-shuffle"></i></a></li>-->
                </ul>
            </div>
        </div>
    </figure>
</article> 