<div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">  
                                <div class="tab-content product-details-large"> <!-- show active-->
                                    <div *ngFor="let imagen of data.thumbs; let i = index" [attr.data-index]="i" class="tab-pane fade {{i==0 ? 'active show': ''}}" id="tab{{i}}" role="tabpanel" >
                                        <div class="modal_tab_img">
                                            <a href="#"><img src="{{imagen}}" alt=""></a>    
                                        </div>
                                    </div>
                                </div>
                                <div class="modal_tab_button">    
                                    <ul class="nav product_navactive owl-carousel" role="tablist">
                                        <li  *ngFor="let imagen of data.thumbs; let i = index" [attr.data-index]="i">
                                            <a class="{{i==0 ? 'nav-link active': 'nav-link'}}" data-toggle="tab" href="#tab{{i}}" role="tab" [attr.aria-controls]="'tab'+i"  aria-selected="false"><img src="{{imagen}}" alt=""></a>
                                        </li>
                                       <!-- <li >
                                            <a class="nav-link" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="assets/img/product/product8.jpg" alt=""></a>
                                        </li>
                                        <li>
                                             <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="assets/img/product/product6.jpg" alt=""></a>
                                        </li>
                                        <li>
                                           <a class="nav-link button_three" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="assets/img/product/product7.jpg" alt=""></a>
                                        </li>
                                        <li>
                                           <a class="nav-link" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="assets/img/product/product5.jpg" alt=""></a>
                                        </li>-->

                                    </ul>
                                </div>    
                            </div>  
                        </div> 
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2>{{data.nombre}}
                                    </h2> 
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price">S/.{{data.precioOferta}}</span>    
                                    <span class="old_price" >S/.{{data.precio}}</span>    
                                </div>
                                <div class="modal_description mb-15">
                                    <p>{{data.descripcion}}</p>    
                                </div> 
                                <div class="variants_selects">
                                    <h4>Stock: 50</h4>
                                    <div class="modal_add_to_cart">
                                        <form action="#">
                                            <input min="1" max="100" step="2" value="1" type="number">
                                            <button type="submit">Agregar al carrito</button>
                                        </form>
                                    </div>   
                                </div>
                                <div class="modal_social">
                                    <h2>Compartir este producto</h2>
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>    
                                </div>      
                            </div>    
                        </div>    
                    </div>     
                </div>
            </div>    
        </div>
    </div>
</div>