<div class="Content-Wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="box-body">
            <div class="row">
                <div class="col-md-3">
                    <h1><b>Listado de Productos</b></h1>
                    </div><!-- /.col --> 
                    <div class="col-md-2">
                    <a  class="btn btn-danger btn-block" routerLink="../project">
                    <span class="fa fa-plus">
                    </span> Nuevo </a>
            </div><!-- /.col -->
        </div>
        <section class="content">
            <div class="card card-default">
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="example1" class="table table-bordered table-responsive ">
                                    <thead class= "thead-dark">
                                        <tr>
                                            <th>CODIGO</th>
                                            <th>Descripción</th>
                                            <th>Marca</th>
                                            <th>Foto</th>
                                            <th>Categoria</th>
                                            <th>Stock</th>
                                            <th>Costo</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead> 
                                    <tbody >
                                        <tr class=""  *ngFor="let producto of productos">
                                            <td>{{producto.codigo}}</td>
                                            <td>{{producto.nombre}}</td>
                                            <td>Naturale</td>
                                            <td>
                                            <img src="{{producto.imagen}}" style="max-width:20%;width:auto;height:auto;" border='0'>
                                            </td>
                                            <td>Desayuno</td>
                                            <td>{{producto.precio}}</td>
                                            <td>{{producto.precio_descuento}}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a href="#" id="view"
                                                    class="btn btn-sm btn-outline-danger"><i class="fa fa-search"></i></a>
                                                    <a routerLink="../product-edit" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i></a>
                                                    <div class="btn btn-danger" role="button" (click)="eliminar(producto)" ><i class="fa fa-trash"></i></div>
                                                    <!--<a href="admin/alerta" class="btn btn-danger" role="button"><i class="fa fa-trash"></i></a>-->
                                                </div>
                                            </td>
                                        </tr>
                                      
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         
</section>