<br><br>

<div class= "container">
    <h3> Mantenimiento Usuarios</h3>
    <br>
    <a class="btn btn-primary" href="nuevo-usuario" role="button">Nuevo Usuario</a>
    <div class="form-group">
      
        <br> <br>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>

                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Ap.Paterno</th>
                <th scope="col">Ap.Materno</th>
                 <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col">Usuario</th>
                <th scope="col">       </th>
                <th scope="col">       </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>

                <td>01234567</td>
                <td>Juan</td>
                <td>Perez</td>
                <td>Suarez</td>
                <td>juanperez@email.com</td>
                <td>9998765</td>
                <td>juanperez39</td>
                <td><a href="modificar-usuario" class="btn btn-primary" role="button" >MODIFICAR</a></td>
                <td><a href="alerta-eliminar" class="btn btn-danger" role="button">ELIMINAR</a></td>
                
              </tr>
              <tr>
                <th scope="row">2</th>

                <td>01234567</td>
                <td>Juan</td>
                <td>Perez</td>
                <td>Suarez</td>
                <td>juanperez@email.com</td>
                <td>9998765</td>
                <td>juanperez39</td>
                <td><a href="modificar-usuario" class="btn btn-primary" role="button" >MODIFICAR</a></td>
                <td><a href="alerta-eliminar" class="btn btn-danger" role="button">ELIMINAR</a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
   
                <td>01234567</td>
                <td>Juan</td>
                <td>Perez</td>
                <td>Suarez</td>
                <td>juanperez@email.com</td>
                <td>9998765</td>
                <td>juanperez39</td>
                <td><a href="modificar-usuario" class="btn btn-primary" role="button" >MODIFICAR</a></td>
                <td><a href="alerta-eliminar" class="btn btn-danger" role="button">ELIMINAR</a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>01234567</td>
                <td>Juan</td>
                <td>Perez</td>
                <td>Suarez</td>
                <td>juanperez@email.com</td>
                <td>9998765</td>
                <td>juanperez39</td>
                <td><a href="modificar-usuario" class="btn btn-primary" role="button" >MODIFICAR</a></td>
                <td><a href="alerta-eliminar" class="btn btn-danger" role="button">ELIMINAR</a></td>
              </tr>
              <tr>
                <th scope="row">5</th>
              
                <td>01234567</td>
                <td>Juan</td>
                <td>Perez</td>
                <td>Suarez</td>
                <td>juanperez@email.com</td>
                <td>9998765</td>
                <td>juanperez39</td>
                <td><a href="modificar-usuario" class="btn btn-primary" role="button" >MODIFICAR</a></td>
                <td><a href="alerta-eliminar" class="btn btn-danger" role="button">ELIMINAR</a></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                
                <td>01234567</td>
                <td>Juan</td>
                <td>Perez</td>
                <td>Suarez</td>
                 <td>juanperez@email.com</td>
                <td>9998765</td>
                <td>juanperez39</td>
                <td><a href="modificar-usuario" class="btn btn-primary" role="button" >MODIFICAR</a></td>
                <td><a href="alerta-eliminar" class="btn btn-danger" role="button">ELIMINAR</a></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                
                <td>01234567</td>
                <td>Juan</td>
                <td>Perez</td>
                <td>Suarez</td>
                <td>juanperez@email.com</td>
                <td>9998765</td>
                <td>juanperez39</td>
                <td><a href="modificar-usuario" class="btn btn-primary" role="button" >MODIFICAR</a></td>
                <td><a href="alerta-eliminar" class="btn btn-danger" role="button">ELIMINAR</a></td>
              </tr>
            </tbody>
          </table>
          
         

      
 </div>
</div>
