<br><br>
<div class= "container">
<h3>Datos de Cliente</h3>
<br>
    <form>
      <div class="form-row">
        <div class="form-group col-md-1">
          <label for="nombre"># Usuario</label>
          <input type="number" class="form-control" id="Id_Usuario" placeholder="Num" disabled>
        </div>
      </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre">Nombres</label>
              <input type="text" class="form-control" id="Nombres" placeholder="Nombre Completo" disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="apellido">Apellido Paterno</label>
              <input type="text" class="form-control" id="ApePAt" placeholder="Apellido Paterno" disabled>
            </div>
            <div class="form-group col-md-3">
              <label for="apellido">Apellido Materno</label>
              <input type="text" class="form-control" id="ApeMat" placeholder="Apellido Materno" disabled>
            </div>
          </div>
        
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="Email" placeholder="Email" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="tipodoc">Tipo de Documento</label>
        <input type="email" class="form-control" id="Doctip" placeholder="DNI: 1 | RUC: 2" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="numdni"> # DNI/RUC</label>
        <input type="number" class="form-control" id="Docnro" placeholder="DNI/RUC" disabled>
      </div>
    

    
      <div class="form-group col-md-3">
        <label for="celular">Nombre de Usuario</label>
        <input type="text" class="form-control" id="Usuario" placeholder="Nombre de Usuario" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="celular">Contraseña</label>
        <input type="password" class="form-control" id="Password" placeholder="Contraseña" disabled>
      </div>
      <div class="form-group col-md-2">
        <label for="celular">Sexo</label>
        <input type="password" class="form-control" id="Sexo" placeholder="F/M" disabled>
      </div>
      <div class="form-group col-md-3">
        <label for="celular">Fecha de Nacimiento</label>
        <input type="password" class="form-control" id="Fecnac" placeholder="AAAA/MM/DD" disabled>
      </div>
      <div class="form-group col-md-1">
        <label for="celular">Edad</label>
        <input type="password" class="form-control" id="Edad" placeholder="Edad" disabled>
      </div>
   
      <div class="form-group col-md-1">
        <label for="celular">Estado</label>
        <input type="password" class="form-control" id="Estado" placeholder="(0-1)"disabled>
      </div>
      <div class="form-group col-md-1">
        <label for="celular">Nivel</label>
        <input type="password" class="form-control" id="Nivel" placeholder="(1-3)" disabled>
      </div>
    </div>
<br>
   
    
   
   <br>
    <a href="modificar-usuario" class="btn btn-primary" role="button" >Modificar</a>
    |
    <a href="alerta-eliminar" class="btn btn-danger" role="button">Desactivar Cuenta</a>
    <br><br>
  </form>
</div>