<article> 
    <figure>
        <div class="product_thumb">
            <a class="primary_img" href="#"><img src="{{data.imagen}}" alt=""></a>
        </div>
        <div class="categories_product_content">
            <h4><a href="#">{{data.nombre}}</a></h4>
        </div>
    </figure>
</article> 