<h1><b>Editar Producto</b></h1>
<div class="container">
    <form >
        <div class="container">

            <form >
        
                <div class="container">

                    <form >
                
                        <div >
                
                            <div >
                
                                <label>
                
                                    Codigo: P0030
                
                                </label>
                
                            </div>
                
                            <div >
                
                                <label>
                
                                    Descripcion:
                
                                    <input type="text"  value="Mermelada de fresa" class="form-control">
                
                                </label>
                
                            </div>
                
                        </div>
                
                        <div class="form-group">
                
                            <label>
                
                                Precio:
                
                                <input type="text"  value="14.5" class="form-control">
                
                            </label>
                
                        </div>
                
                        <div class="form-group">
                
                            <label>
                
                                stock:
                
                                <input type="text" value="45" class="form-control">
                
                            </label>
                
                        </div>
                        <div class="form-group">
                
                            <label>
                
                                foto:
                
                                <img src="assets/img/productos/mermelada.jpg">
                
                            </label>
                
                        </div>
                
                        <div class="form-group">
                
                            
                
                        </div>
                        <div class="form-group">
                            <button (click)="updateValues()" class="btn btn-primary">Grabar</button>
                            |
                            <button (click)="cleanValues()" class="btn btn-primary">Limpiar valores</button>
                            |
                            <a href="admin/list" class="btn btn-primary" role="button" >Cancelar</a>
                            
                        </div>
                
                    </form>
                
                    <br><br>
                
                
                
                </div>
                
            </form>
    <br><br>

   
</div>
