<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="opacity: 1;background-color: rgba(52,58,64,0.75);">
    <div class="container"><a class="navbar-brand js-scroll-trigger" routerLink="home" style="color: rgb(85, 173, 255);">La Buena Comida</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color:  rgb(85, 173, 255);"><i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i></button>
        <div class="collapse navbar-collapse"
            id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="list" style="color:  rgb(85, 173, 255);">Productos</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="cate" style="color: rgb(85, 173, 255);">Categorias</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="list-usu" style="color: rgb(85, 173, 255);">Usuarios</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="team" style="color:  rgb(85, 173, 255);">Admin </a></li>
            </ul><a class="btn btn-primary text-black-50 border-dark" role="button" href="userLogin.html" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color:  rgb(85, 173, 255);">Cerrar sesion</a></div>
    </div>
</nav>
<section style="min-height: 580px;">
    <router-outlet></router-outlet>
</section>
