<br><br>
<div class= "container">
<h3>Registro de Nuevo Usuario</h3>

<br>
<form [formGroup]="userForm">
  <div class="form-row">
    <div class="form-group col-md-1">
      <label for="nombre"># Usuario</label>
      <input type="number" class="form-control" formControlName="Id_Usuario" placeholder="Num" >
    </div>
  </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nombre">Nombres</label>
          <input type="text" class="form-control" formControlName="Nombres" placeholder="Nombre Completo">
        </div>
        <div class="form-group col-md-3">
          <label for="apellido">Apellido Paterno</label>
          <input type="text" class="form-control" formControlName="ApePat" placeholder="Apellido Paterno">
        </div>
        <div class="form-group col-md-3">
          <label for="apellido">Apellido Materno</label>
          <input type="text" class="form-control" formControlName="ApeMat" placeholder="Apellido Materno">
        </div>
      </div>
    
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="Email" placeholder="Email">
  </div>
  <div class="form-group col-md-3">
    <label for="tipodoc">Tipo de Documento</label>
    <input type="email" class="form-control" formControlName="Doctip" placeholder="DNI: 1 | RUC: 2">
  </div>
  <div class="form-group col-md-3">
    <label for="numdni"> # DNI/RUC</label>
    <input type="number" class="form-control" formControlName="Docnro" placeholder="DNI/RUC">
  </div>



  <div class="form-group col-md-3">
    <label for="celular">Nombre de Usuario</label>
    <input type="text" class="form-control" formControlName="Usuario" placeholder="Nombre de Usuario">
  </div>
  <div class="form-group col-md-3">
    <label for="celular">Contraseña</label>
    <input type="password" class="form-control" formControlName="Password" placeholder="Contraseña">
  </div>
  <div class="form-group col-md-2">
    <label for="celular">Sexo</label>
    <input type="text" class="form-control" formControlName="Sexo" placeholder="F/M">
  </div>
  <div class="form-group col-md-3">
    <label for="celular">Fecha de Nacimiento</label>
    <input type="text" class="form-control" formControlName="Fecnac" placeholder="AAAA/MM/DD">
  </div>
  <div class="form-group col-md-1">
    <label for="celular">Edad</label>
    <input type="text" class="form-control" formControlName="Edad" placeholder="Edad">
  </div>

  <div class="form-group col-md-1">
    <label for="celular">Estado</label>
    <input type="text" class="form-control" formControlName="Estado" placeholder="(0-1)">
  </div>
  <div class="form-group col-md-1">
    <label for="celular">Nivel</label>
    <input type="text" class="form-control" formControlName="Nivel" placeholder="(1-3)">
  </div>
</div>
<br>

    
   
<button (click)="onSubmit()"  class="btn btn-primary"  >Registrar Datos</button>
    <br><br>
  </form>
</div>
