<article class="single_product">
    <figure>
        <div class="product_thumb">
            <a class="primary_img" href="#"><img src="{{data.imagen}}" alt=""></a>
        </div>
        <div class="product_content">
            <div class="product_name">
               <h4><a href="#">{{data.nombre}}</a></h4>
            </div>
            <div class="product_rating">
               <ul>
                   <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                   <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
               </ul>
            </div>
            <div class="price_box"> 
                <span class="old_price">S/.{{data.precio}}</span> 
                <span class="current_price">S/.{{data.precioOferta}}</span>
            </div>
        </div>
    </figure>
</article>