<p>cate-edit works!</p>
<h1><b>Editar Categoria</b></h1>
<div class="container">
    <form >
        <div class="container">

            <form >
        
                <div class="container">

                    <form >
                
                        <div >
                
                            <div >
                
                                <label>
                
                                    Codigo: 1
                
                                </label>
                
                            </div>
                
                            <div >
                
                                <label>
                
                                    Nombre:
                
                                    <input type="text"  value="Bebidas" class="form-control">
                
                                </label>
                
                            </div>
                
                        </div>
                
                        <div class="form-group">
                
                            <label>
                
                                Orden:
                
                                <input type="text"  value="1" class="form-control">
                
                            </label>
                
                        </div>
                
                        <div class="form-group">
                
                            <label>
                
                                Estado:
                
                                <input type="text" value="1" class="form-control">
                
                            </label>
                
                        </div>
                        <div class="form-group">
                
                            <label>
                
                                Imagen:
                
                                <img src="assets/img/categorias/bebidas.jpg">
                
                            </label>
                
                        </div>
                
                        <div class="form-group">
                
                            
                
                        </div>
                        <div class="form-group">
                            <button (click)="updateValues()" class="btn btn-primary">Grabar</button>
                            |
                            <button (click)="cleanValues()" class="btn btn-primary">Limpiar valores</button>
                            |
                            <a href="admin/list" class="btn btn-primary" role="button" >Cancelar</a>
                            
                        </div>
                
                    </form>
                
                    <br><br>
                
                
                
                </div>
                
            </form>
    <br><br>

   
</div>
